body {
    /* background-color: white; */
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    /* text-transform: capitalize;
    color: #232323; */
  }